*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}

.background{
    background-image: url("../img/background.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-block: 50px;
}

.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center h2{
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.box{
    width: 1200px;
    min-height: 80vh;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(107, 111, 182, 0.85);
}

.auth-box{
    min-width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #6B6FB6;
}
.form-box{
    min-width: 800px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #6B6FB6;
}

.form-box h3{
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

button.btn-tambah {
    background-color: #579D36;
}
button.btn-selesai {
    background-color: #A11414;
}

.auth-box h3{
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    font-size: 19px;
    margin-bottom: 10px;
    color: #fff;
}

input{
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.switch {
    display: flex;
    background-color: #fff;
    color: #232323;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
}

.switch.active{
    background-color: #27005D;
    color: #fff;
}

button{
    margin-top: 20px;
    display: flex;
    background-color: #27005D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    border: none;
}

.info{
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.info a{
    padding: 10px 15px;
    background-color: #27005D;
    align-items: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
    height: 30px;
}
