*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}

main {
    position: relative;
}

.background{
    background-image: url("../img/background.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    /* padding-block: 50px; */
}

.center{
    height: 100%;
    display: flex;
    margin-block: ;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 80px;
}

.center-auth{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-auth h2{
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.center h2{
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.card {
    height: fit-content;
    background-color: rgba(107, 111, 182, 0.85);
    overflow-x: hidden;
    scrollbar-width: none;
}

.box{
    width: 1200px;
    min-height: 80vh;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(107, 111, 182, 0.85);
}
.box-tentang-kami{
    width: 1200px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(107, 111, 182, 1);
    align-items: center;
}

.box-comment {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: rgba(107, 111, 182, 0.65);
    color: #fff;
}


.auth-box{
    min-width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #6B6FB6;
}
.form-box{
    min-width: 800px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #6B6FB6;
}

.form-box h3{
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

button.btn-tambah {
    background-color: #579D36;
}
button.btn-selesai {
    background-color: #A11414;
}

.auth-box h3{
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    font-size: 19px;
    margin-bottom: 10px;
    color: #fff;
}

input{
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
}

textarea {
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 10px;
    resize: none;
    border: 1px solid #232323;
    outline: 1px solid #232323;
}

.panduan{
    position: absolute;
    bottom: 60px;
    right: 80px;
    background-color: #27005D;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    transition: ease-in-out 0.6s;
    display: none;
}

.panduan-active {
  display: block;
}

.file-panduan {
    background-color: #D9D9D9;
    color: #232323;
    padding: 5px;
    font-size: 12px;
    border-radius: 2px;
    display: flex;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

select {
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.switch {
    display: flex;
    background-color: #fff;
    color: #232323;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.switch:hover{
    background-color: #27005D;
    color: #fff;
}

.switch.active{
    background-color: #27005D;
    color: #fff;
}

button{
    margin-top: 20px;
    display: flex;
    background-color: #27005D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    border: none;
}

.info{
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.info a{
    padding: 10px 15px;
    background-color: #27005D;
    align-items: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 16px;
    width: 100%;
}

#file{
    background-color: #fff;
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
}


P {
    margin:0;
}


.password-container {
    position: relative;
    background-color:white ;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password-container:focus-within {
    outline: 2px solid #232323; /* Border when input is focused */
}

#password {
    margin: 0;
    padding-right: 30px; /* Extra space for the eye icon */
    width: 100%; /* Ensure the input takes up the full width of the container */
    border: none; /* Remove input border */
    outline: none; / /* Berikan ruang ekstra di sebelah kanan untuk ikon mata */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-container {
    position: relative;
    background-color:white ;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: 1px solid #232323;
}

.search-container:focus-within {
    outline: 2px solid #232323; /* Border when input is focused */
}

#searchInput{
    margin: 0;
    padding-right: 30px; /* Extra space for the eye icon */
    width: 100%; /* Ensure the input takes up the full width of the container */
    border: none; /* Remove input border */
    outline: none; / /* Berikan ruang ekstra di sebelah kanan untuk ikon mata */
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

footer {
    background-color: #6B6FB6;
    color: #fff;
    padding: 10px 16px;
}

.nav-link li a {
  color: #232323;
  position: relative;
  font-weight: 500;
}

.nav-link li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left:0;
    height: 4px;
    background-color: #6B6FB6;
    width: 0;
    transition: ease-in-out 0.5s;
}

.nav-link li a:hover::before {
   width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    margin-top: 20px;
}

.grid-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    margin-top: 20px;
}
.card-desc {
    background-color: #595D9A;
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 36px;
    color: #fff;
}
.card-desc-details{
    background-color: #595D9A;
    padding-inline: 16px;
    padding-block: 16px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.status-details {
    background-color: #27005D;
    color: #fff;
    padding-inline:16px ;
    border-radius: 10px;
}
.komentar {
    margin-top: 30px ;
    border-radius: 10px;
    width: 95%;
    margin-inline: auto;
    background-color: #fff ;
    min-height: 200px;
    padding: 10px;
}

.text-1{
    font-weight: bold;
    color: #27005D;
    margin-bottom: 5px;
}
.text-2{
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 5px;

}


.card-link {
    overflow: hidden;
}

embed{
    height: 400px;
    width: calc(100% + 17px);
    scrollbar-width: none;
}

embed::-webkit-scrollbar {
    display: none;
}

.nama-peninjau{
    position: relative;
    width: fit-content;
}

.nama-peninjau::before{
    content: " ";
    position: absolute;
    bottom: -5px;
    left:0;
    width: 100%;
    height:5px;
    background-color:#27005D;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.custom-select {
    min-width: 350px;
  }

select[name="tahun"] {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
select[name="tahun"] > option {
   border-bottom: 1px solid #232323;
   padding: 10px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #232323; /* Mengatur vertikal ke tengah */
}

.checkbox-label {
    color: #232323;
    margin-right: 10px;
    font-size: 14px; /* Jarak antara checkbox dan teks */
}

.body-modal-scroolable {
    max-height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

.garis {
    width: 100%;
    height: 2px;
    background-color:#232323;
    margin-top: 10px;
}

p.judul {
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
/* width:80%; */
}
